{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<div class="bg-primary"><center>Edition profile</center></div>
<div class="mywell-sm">
    <form action="{{ path('fos_user_profile_edit') }}" method="POST" class="fos_user_profile_edit">
        {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.current_password) }}
            {% if form is defined and is_granted('ROLE_RECRUTEUR')%}
                {{ form_row(form.statut) }}
            {%endif%}
        <br>
        <center>
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary btn-sm"/>
        </center>
    </form>
</div>

