<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>{% block title %}MON TICKET{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.10.4.custom.min.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('css/mytheme.css') }}" type="text/css"/>

            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <link rel="stylesheet" href="{{ asset('css/ie10-viewport-bug-workaround.css') }}" >

        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        {% block H_Menu %}
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('admin_home_page') }}">MonTiket</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Bonjour {{ app.user.username }}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_profile_show') }}">Mon profile</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                                </ul>
                            </li>

                            <li><a href="#">Help</a></li>
                        </ul>
                        {#<form class="navbar-form navbar-right">
                            <input type="text" class="form-control" placeholder="Search...">
                        </form>#}
                    </div>
                </div>
            </nav>
        {% endblock %}

        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-3 col-md-2 sidebar">

                    {% block sidebar %}
                        <ul class="nav nav-sidebar">
                            {% if is_granted('ROLE_SELLER') %}
                                <li class="active"><a href="{{ path('admin_home_page') }}"> Dashboard<span class="sr-only">(current)</span></a></li>
                                <li><a href="{{ path('admin_tickets') }}">Tickets</a></li>
                                {% elseif is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('admin_voyage') }}">Voyages</a></li>
                                    <li><a href="{{ path('admin_trajets') }}">Trajets</a></li>
                                {% elseif is_granted('ROLE_SUPER_ADMIN') %}
                                    <li><a href="{{ path('admin_compagnie') }}">Compagnies</a></li>
                            {% endif %}

                        </ul>
                    {% endblock %}

                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">Tableau de borderless</h1>
                    {% block content %}
                        <div class="row placeholders">
                            <div class="col-xs-6 col-sm-3 placeholder">
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                                <h4>Label</h4>
                                <span class="text-muted">Something else</span>
                            </div>
                            <div class="col-xs-6 col-sm-3 placeholder">
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                                <h4>Label</h4>
                                <span class="text-muted">Something else</span>
                            </div>
                            <div class="col-xs-6 col-sm-3 placeholder">
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                                <h4>Label</h4>
                                <span class="text-muted">Something else</span>
                            </div>
                            <div class="col-xs-6 col-sm-3 placeholder">
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                                <h4>Label</h4>
                                <span class="text-muted">Something else</span>
                            </div>
                        </div>

                        <h2 class="sub-header">Section title</h2>
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  main">
                <hr>
                <footer>
                    <p class="notPrint" style="text-align: center;">
                        MonTicket Copyright © 2017. <br/>
                        By FinitiSoft Corporation.
                    </p>
                </footer>
            </div>
        </div>
       
       {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js')}}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.4.custom.min.js')}}"></script> 
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js')}}"></script>
            <script type="text/javascript" src="{{ asset('js/myscript.js')}}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.js')}}"></script>
       {% endblock %}
    </body>

 
</html>
