<!-- Table des formations-->
 <table class="table table-condensed table-bordered">
     <thead>
        <th>Code</th>
        <th>Nom & Prénom</th>
        <th>Téléphone</th>
        <th>Date achat</th>
        <th>Date Voyage</th>
        <th>Heure Depart</th>
        <th>Gare Source</th>
        <th>Gare Destination</th>
        <th>Prix</th>

        <th style="width: 20px"></th>     
    </thead>  
    <tbody>
        {%for ticket in listeTickets%}
            <tr>
                <td>{{ticket.code}} </td>
                <td>{{ticket.nomClient}} - {{ ticket.prenomClient }} </td>
                <td>{{phone_number_format(ticket.telClient, 'NATIONAL')}} </td>
                <td>{{ticket.dateAchat|date('d-M-y')}} </td>
                <td>{{ticket.voyageTrajet.voyage.dateVoyage|date('d-M-y')}} </td>
                <td>{{ticket.voyageTrajet.voyage.heureDepart|date('H:i')}} </td>
                <td>{{ticket.voyageTrajet.trajet.source.nomGare}}</td>
                <td>{{ticket.voyageTrajet.trajet.destination.nomGare}}</td>
                <td>{{ticket.prixTicket}}</td>

                <td>
                   <div class="btn-group">
                       <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                           Actions <span class="caret"></span>
                       </button>
                       <ul class="dropdown-menu" role="menu">

                               <li>
                                   <a href="{{ path('ticket_modifier',{'idTicket': ticket.id}) }}"> Modifier </a>
                               </li>
                               {#<li>
                                   <a href="#" data-toggle="modal" data-target="#ticket{{ticket.id}}" style="color:#ff0000"> Supprimer </a>
                               </li>#}

                       </ul>
                   </div>

                </td>

                 {# <!-- Modal-->
                  <div class="modal fade" id="ticket{{ticket.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          Voulez vous reellement supprimer ce ticket??
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                          <a href="{{ path('ticket_supprimer',{'idTicket': ticket.id}) }}"><button type="button" class="btn btn-primary">Oui</button></a>
                        </div>
                      </div>
                    </div>
                  </div>#}

            </tr>
        {%endfor%}
    </tbody>
 </table>

           