<!-- Table des formations-->
 <table class="table table-condensed table-bordered">
     <thead>
        <th>Trajet</th>
        <th>Prix</th>
        <th>Nbre Places Initial</th>
        <th>Nbre Places Restant</th>
        <th style="width: 20px"></th>     
    </thead>  
    <tbody>
        {%for voyageTrajet in listeVoyageTrajets%}
            <tr>                        
                <td>{{voyageTrajet.trajet.trajet}} </td>
                <td>{{voyageTrajet.trajet.prixTrajet}} </td>
                <td>{{voyageTrajet.nbrePlaceInit}}</td>
                <td>{{voyageTrajet.nbrePlaceRestant}}</td>

               <td>
                   <div class="btn-group">
                       <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                           Actions <span class="caret"></span>
                       </button>
                       <ul class="dropdown-menu" role="menu">

                           <li>
                               <a href="{{ path('voyageTrajet_modifier',{'idVoyageTrajet': voyageTrajet.id}) }}"> Modifier </a>
                           </li>
                           <li>
                               <a href="#" data-toggle="modal" data-target="#vtraj{{voyageTrajet.id}}" style="color:#ff0000"> Supprimer </a>
                           </li>

                   </ul>
               </div>

               </td>

            <!-- Modal-->
            <div class="modal fade" id="vtraj{{voyageTrajet.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                  </div>
                  <div class="modal-body">
                    Voulez vous reellement supprimer ce trajet de ce voyage??
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                    <a href="{{ path('voyageTrajet_supprimer',{'idVoyageTrajet': voyageTrajet.id}) }}"><button type="button" class="btn btn-primary">Oui</button></a>
                  </div>
                </div>
              </div>
            </div>

            </tr>
        {%endfor%}
    </tbody>
 </table>

           